h1 {
    font-size: 4em;

}

header{
    background-image: url("challenge_6/images/header.png");
}
nav{
    background-color: #76CBFA;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}
nav a {
    color: white;


}
