.container{
    background-image: image("challenge_6/images/fond.png");
}
h1,h2,h3,h4,h5,h6{
    font-family: "Oswald";
}


header{
    background-image: url("challenge_6/images/header.png");
    padding: 45px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4em;
}

.img-header{
    border: 15px solid white;
    border-radius: 0;
}

nav{
    background-color: #76CBFA;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    font-family: "Abel";

}

nav a {
    color: white;
}

p{
    font-family: "Arial";
}

h3{
    font-size: 2em;
}
